sudo: required
dist: trusty

language: node_js

matrix:
  include:
    - os: osx
    - os: linux

node_js:
  - "7"

cache:
  directories:
    - node_modules

addons:
  apt:
    packages:
      - icnsutils
      - graphicsmagick
      - xz-utils

install:
  - npm install electron-builder
  - npm install --dev
# Send coverage data to Coveralls
script:
  - npm run-script test-on-travis
  - npm run-script dist
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"